/* Upcoming events card */

.upcomping-event-card{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  background:inherit;
}
.upcoming-event-container{
  margin: 0 auto;
}
.samkaran {
  font-family: "Samkaran";
  color: #fff;
}
.upcoming-event-container .items {
 max-width: 60em;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
}

.header-logo {
  height: 5vw;
  width: 5vw;
  /* margin-bottom: 2rem; */
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform 1s ease;
  background: #1c1e1e;
  /* margin-top: 12rem; */
}

.header-logo img {
  height: 8vw;
  width: 8vw;
}
.upcoming-event-container .card {
  width: 44%;
  height: 100%;
  padding-left: 10px;
  position: relative;
  background: #282c34;
  border-radius: 30px;
  box-shadow: 0 7px 20px 5px #00000088;
  transition: .5s all;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  font-family: "Caveat", cursive; 
  background-image: linear-gradient(to right, #141e30, #243b55);
  /* background: linear-gradient(0deg, rgba(40, 44, 52, 1) 0%, rgba(17, 0, 32, .5) 100%); */
  /* background: rgb(2,0,36);
  background: -moz-linear-gradient(151deg, rgba(2,0,36,1) 4%, rgba(5,6,6,0.9136904761904762) 36%, rgba(17,89,210,1) 85%, rgba(0,212,255,1) 100%, rgba(49,197,227,1) 103%);
  background: -webkit-linear-gradient(151deg, rgba(2,0,36,1) 4%, rgba(5,6,6,0.9136904761904762) 36%, rgba(17,89,210,1) 85%, rgba(0,212,255,1) 100%, rgba(49,197,227,1) 103%);
  background: linear-gradient(151deg, rgba(2,0,36,1) 4%, rgba(5,6,6,0.9136904761904762) 36%, rgba(17,89,210,1) 85%, rgba(0,212,255,1) 100%, rgba(49,197,227,1) 103%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#31c5e3",GradientType=1); */
  /* backdrop-filter: blur(7px); */
  /* opacity: 0.75; */
}

.description{
  padding:10px;
  color: white;
  font-size: 20px;
  text-align: center;
}


/* Button CSS */
.register-button-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.register-button-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.register-button-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg, 100%, 21%) 8%,
    hsl(340deg 100% 21%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.register-button-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345, 100%, 37%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .register-button-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }

}

.register-button-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.register-button-pushable:hover .register-button-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.register-button-pushable:active .register-button-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.register-button-pushable:hover .register-button-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.register-button-pushable:active .register-button-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.register-button-pushable:focus:not(:focus-visible) {
  outline: none;
}

.upcoming-event-container .card .event {
  width: 100%;
  margin-top:2rem;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
}

.mg-r{
  margin-right: 40px;
}

.date {
  margin: 0;
  padding: 0;
  font-size: 20px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  width: 100%;
  
}

/* Past Event card */
.timeline ul li > div {
  position: relative;
  bottom: 0;
  width: 508px;
  height: 278px;
  padding: 20px;
  background: #fff;
  box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 2;
}
.timeline ul li > div time {
  position: absolute;
  background: #f5af19;
  width: 80px;
  height: 30px;
  top: -15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  z-index: 2;
}
.timeline{
  scroll-snap-type:y mandatory;
}
.photo {
  height: 170px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 4px 13px 30px 1px rgba(33, 17, 17, 0.2);
  border-radius: 5px;
  z-index: 2;
  background-image: url("photo.avif");
  background-size: cover;
  background-position:center;
  filter: grayscale();
  transition: 0.5s;
}

.photo:hover {
  filter: grayscale(0);
  transform: scale(4);
}
.content {
  height: 210px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
    box-shadow: 4px 13px 30px 1px rgba(33, 17, 17, 0.2);  
    border-radius: 5px;
    padding: 7px;
    padding-top: 0px;
  }


  /*modal css  */
  .modal {
    height: 60vh;
    width: 80vw;
    position: sticky;
    z-index: 6;
    top: 20%;
    left: 10%;
    background: #1c1e1e;
    background:
        conic-gradient(at 62.5% 12.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(28px/-8) calc(28px/2),
        conic-gradient(at 62.5% 12.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(-3*28px/8) calc(28px/4),
        conic-gradient(at 87.5% 62.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(3*28px/8) calc(28px/4),
        conic-gradient(at 87.5% 62.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(28px/-8) 0,
        conic-gradient(at 25% 12.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) 0 calc(28px/-4),
        conic-gradient(at 25% 12.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(28px/-4) 0,
        conic-gradient(at 87.5% 87.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(28px/8) 0 #1b1d1d;
        background-size: 28px 28px;
    border: 1px solid #ddd;
    border-radius: 15px;
  }
  
  .modal .flex-2 {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .modal h1{
    color: white;
    text-align: center;
    font-size: 2.3rem;
  }
  .modal p {
    font-size: 1rem;
    color: #ffffff;
    margin: 0.4rem 0 0.2rem;
    text-align: center;
    padding:1em;
  }
  .btn-open {
    position: absolute;
  }
  .scroll-y{
    overflow-y: scroll;
  }
  .scroll-x{
    overflow-x:hidden;
  }
  .btn{
    padding: 5px;
    color:blue;
    text-decoration: underline;
  }
  .btn-close {
    transform: translate(0px, 3px);
    padding: 0.6rem 1rem;
    background: #eee;
    border-radius: 50%;
    z-index: 5;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 5;
  }
  
  .hidden {
    display: none;
  }
  
