@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Grandstander:ital,wght@0,100..900;1,100..900&family=Kalam:wght@300;400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@400..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&family=Titan+One&display=swap');


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Samkaran";
  src: url("./samkaran.TTF") format("truetype");
}

body {
  font: normal 16px/1.5 "Titillium Web", sans-serif;
  color: #3c3f64;
  overflow-x: hidden;
  height: 100vh;
  padding-bottom: 100px;
  /* background-color: #000000;
  background-image :linear-gradient(315deg, #000000 0%, #7f8c8d 74%); */
  background: #1c1e1e;
  background:
        conic-gradient(at 62.5% 12.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(28px/-8) calc(28px/2),
        conic-gradient(at 62.5% 12.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(-3*28px/8) calc(28px/4),
        conic-gradient(at 87.5% 62.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(3*28px/8) calc(28px/4),
        conic-gradient(at 87.5% 62.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(28px/-8) 0,
        conic-gradient(at 25% 12.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) 0 calc(28px/-4),
        conic-gradient(at 25% 12.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(28px/-4) 0,
        conic-gradient(at 87.5% 87.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(28px/8) 0 #1b1d1d;
    background-size: 28px 28px;
    /* opacity: 0.025; */
}
.font-style{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.25em;
}
.heading{
  color:white;
  font-family: "Samkaran";
  text-align: center;
  padding: 4rem;
  font-size: max(3vw, 60px);
  /* background-color: inherit; */
  /* opacity: 1; */
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row {
  flex-direction: row;
}

.flex-row {
  flex-direction: row;
}

.gap-2 {
  gap: 5px;
}
.header {
  font-family: "ubuntu";
  font-size: max(7vw, 60px);
  color: #fff;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem; 
 
}

.heading-sec{
  color:white;
  font-family: "Samkaran";
  text-align: center;
  padding: 4rem;
  font-size: max(5vw, 50px);
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) rotate(45deg);
  width: 20px;
  height: 20px;
  z-index: 2;
  background: #eee;
}


.timeline ul li:nth-of-type(odd) > div {
  left: 45px;
}

.timeline ul li:nth-of-type(even) > div {
  left: -540px;
}
  
.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-of-type(odd) div {
  transform: translate3d(100px, -10px, 0) rotate(10deg);
}

.timeline ul li:nth-of-type(even) div {
  transform: translate3d(-100px, -10px, 0) rotate(10deg);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
    height: 270px;
    flex-direction: column;
  }
  .timeline ul li div > div {
    width: 80%;
    margin: 10px;
  }
  .timeline ul li:nth-of-type(even) > div {
    left: -289px;
  }
}

@media screen and (max-width: 600px) {

  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
    padding: 0;
  }
  .timeline ul li:nth-of-type(even) > div {
    left: 45px;
  }
  .timeline ul li:nth-of-type(odd) > div {
    flex-direction: column-reverse;
  }
  .timeline ul li div .photo {
    height: 200px;
  }
  .timeline ul li div .content {
    height: 200px;
    width: 90%; 
  }
}
@media only screen and (max-width: 900px ) and (min-width:600px){
  .upcoming-event-container .items {
    width: 500px;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px; /* Added margin for space between items */
  }
  .upcoming-event-container .card{
    height: 450px;
    width: 90%;
    padding: 10px; 
  }
} 

@media only screen and (max-width: 600px) {
  
  .upcoming-event-container .items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 830px;
    margin-bottom: 20px; /* Added margin for space between items */
  }
  .upcoming-event-container .items h2{
    width: 100%;
    padding: 0;
    margin:0;
  }
  .upcoming-event-container .items p{
    width: 100%;
    padding: 0;
    margin:0;
  }
  .upcoming-event-container .card{
    height: 370px;
    width: 400px;
    padding: 10px; 
  }

}

