body{
  background:
        conic-gradient(at 62.5% 12.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(28px/-8) calc(28px/2),
        conic-gradient(at 62.5% 12.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(-3*28px/8) calc(28px/4),
        conic-gradient(at 87.5% 62.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(3*28px/8) calc(28px/4),
        conic-gradient(at 87.5% 62.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(28px/-8) 0,
        conic-gradient(at 25% 12.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) 0 calc(28px/-4),
        conic-gradient(at 25% 12.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(28px/-4) 0,
        conic-gradient(at 87.5% 87.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(28px/8) 0 #1b1d1d;
  background-size: 28px 28px;
}
@font-face {
  font-family: "Samkaran";
  src: url("samkaran.TTF") format("truetype");
}
.samkaran {
  font-family: "Samkaran";
  color: #fff;
  font-weight: bolder;
}
.menu {
  display: block;
  position: relative;
  width: 12em;
  list-style-type:none;
  z-index: 1;
}
ul .sub_title{
  font-size:2vw;
  margin-left: 1.2em;
  height: 300px!important;
}
.rotate {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}

.menu > li > a {
  background: rgb(245, 209, 143);
  color: black;
  display: block;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  height: 14px;
}
.logo {
  height: 10em;
  width: 10em;
  transform: rotateY(180deg);
  clip-path: ellipse(29% 29% at 50% 50%);
  position: absolute;
  top: -0.4em;
  left: 19em;
}

@media screen and (max-width: 1200px) {
  .logo {
    top: -0.8em;
    height: 9em;
    width: 9em;
    left: 15em;
  }
}

@media screen and (max-width: 1000px) {
  .logo {
    top: -1.4em;
    height: 9em;
    width: 9em;
    left: 11em;
  }
}

@media screen and (max-width: 800px) {
  .logo {
    top: -18px;
    height: 8em;
    width: 8em;
    left: 95px;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    top: -16px;
    height: 6em;
    width: 6em;
    left: 65px;
  }
}


.menu ul {
  background: #ddd;
  left: 0.3em;
  opacity: 0;
  position: absolute;
  transition: all .5s ease;
  list-style-type:none;
  width:6em;
  border-radius: 4px;
}

.menu li ul::-webkit-scrollbar {
  width: 0.2em;
}

.menu li ul::-webkit-scrollbar-thumb {
  background-color: grey;
}

.menu li ul::-webkit-scrollbar-track {
  background-color: transparent;
}

.menu ul a {
  color: #000;
  display: block;
  text-decoration: none;
  margin-left:-36px;
  padding-top: 10px;
}
.menu ul a:hover,
.menu ul a:focus{
  background-color:rgb(213, 206, 193) ;
}
.title
{
  font-size: 9vw;
  text-align: center;
}
.gallery {
  display: flex;
  padding: 2px;
  flex-wrap: wrap;
  overflow: hidden;
  transition: 0.3s;
  margin-left:-25px;
}
.gallery:hover .gallery__image {
  filter: grayscale(1);
}
.gallery__column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 25%;
}
.gallery__link {
  margin: -14px;
  overflow: hidden;
  margin-right: -50px;
}
.gallery__link:hover .gallery__image {
  filter: grayscale(0);
}
.gallery__link:hover .gallery__caption {
  opacity: 1;
}
.gallery__thumb {
  position: relative;
}
.gallery__image {
  display: block;
  width: 100%;
  transition: 0.3s;
}
.gallery__image:hover {
  transform: scale(1.1);
}
.gallery__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 15px 15px;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: white;
  opacity: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: 0.3s;
}
@media screen and (max-width: 800px) {
  .gallery__column {
    width: 50%;
  }
  .menu ul{
    left: 0.9em;
    width: 7.4em;
  }
}

@media screen and (max-width: 600px) {
  .gallery__column {
    width: 100%;
  }
  .gallery{
    margin-left:  0px;

  }
  .menu ul{
    left:0.9em;
  }
  ul .sub_title{
    font-size: 20px;
    width: 150px;
    height: 150px!important;
  }
  .gallery__link {
    margin: 0;
  }
}
